/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(PinkBowl.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
	max-width: 83em;
	margin: auto;
}

div.container { 
	position: relative;
	min-height: 100vh;
	max-width: 83em;
	margin: auto;
	background-color: rgb(250, 250, 250);
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */


main { 
	padding: 2em 2em 3em;
	}

body{
	font-family: sans-serif;
	background-color: rgb(245, 245, 245);
}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
	 border-radius: 1.5em;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background: rgb(250, 250, 250);
	padding: 1.4em 1em 1.4em 1.3em;
	}

h1 {
	width: 15em;
	}

h2, h3, h4 {
		font-weight: 700;
	}

h2 {
	font-family: "fatfrank", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.5em;
	margin: 0.7em 0em 0.3em;
	color: rgb(166, 63, 120);
	}
	
h3 {
	font-family: "bicyclette", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2em;
	margin: 0.6em 0em 0.4em;
}

a {
	text-decoration: none;
	}

nav ul  {
	margin-top: 0.8em;
	text-align: right;
	}
	
ul li 	{
	list-style-type: none;
	font-family: "bicyclette", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 220%;
}

figure {
	margin-bottom: 1em;
}

main.menu ul {
		margin: 2em 0em;
}	

main.menu ul li {
		margin: 0em 0em 2em;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
}	
main.menu ul li h4{
	padding-top: 0.5em;
	padding-bottom: 0em;
	line-height: 120%;
}

p {
	font-family: "bicyclette", sans-serif;
	font-weight: 400;
	font-style: normal;
	margin: 1em 0em 1em;
	line-height: 120%;
	}
	
p.description {
	grid-column: 1/5;
	margin: 0em;
	}
	
p.price {
	grid-row: 1/2;
	grid-column: 4/5;
	color: rgb(166, 63, 120);
	text-align: right;
	margin: 0.55em 0em 0em;
	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 0em;
	}
	
nav ul li a {
	font-family: "fatfrank", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.1em;
	color: rgb(166, 63, 120);
	}
	
nav ul li.selected a{
	color: rgb(166, 63, 120);
	text-decoration: underline;
	text-decoration-thickness: 3px;
}

p.slogan {
	font-family: "fatfrank", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 4em;
	margin: 4em 0em 1.9em;
	color: rgb(250, 250, 250);
	}

article{
	max-width: 40em;
	margin: auto;
	padding-top: 1em;
}
	
footer {
  position: absolute;
  bottom: 0;
  top: 100%;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1em 0.4em 1em;
  background: rgb(250, 250, 250);
  font-family: sans-serif;
}

address {
	font-family: "bicyclette", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 130%;
	}

address.home {
font-size: 1.4em;
color: rgb(250, 250, 250);
}

footer p {
	margin: 0em;
	color: rgb(166, 63, 120);
}

@media screen and (min-width: 60em){
	nav ul li {
	display: inline;
	font-size: 2em;
	margin-right: 0.5em;
	}
	main.menu ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 0em 5.5em;
	}
}